<%- include('partials/header') %>

    <!-- About Section -->
    <h1 class="main-heading">About</h1>

    <div class="padding-box-shadow">
        <div class="row">
            <div class="col-lg-6 about-text">
                    <h2 class="sub-heading">Looking for a suggestion?</h2>
                    <h2 class="sub-heading">Too shy to get in touch with your senior?</h2>  
                    <h2 class="sub-heading">Not able to find one mentor who is under the same roof as your are?</h2>  
            </div>
            <div class="col-lg-6 about-image">
                <img src="https://www.msit.in/static/img/msit.png" class="about-image-msit" alt="" srcset="">
            </div>
        </div>
        <h1 class="sub-heading" style="color: #7579E7;">Look no more, you have come to the perfect spot.</h1>    
    </div>

<%- include('partials/footer') %>