<%- include('partials/header') %>

    <h1 class="main-heading">Compose</h1>

    <div class="padding-box-shadow">
        <!-- Form to input the user experience -->
        <form action="/compose" method="post">

            <div class = "form-group">
                <label>Title</label>
                <input class="form-control" type="text" name="postTitle">

                <label>Post</label>
                <textarea class="form-control" name="postBody" rows="10"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Publish</button>
        </form>
    </div>
    

<%- include('partials/footer') %>