<%- include('partials/header') %>

    <!-- Contact Section -->
    <h1 class="main-heading">Contact</h1>

    <div class="row padding-box-shadow">
        <div class="contact-image-div">
            <img src="https://iili.io/LNWDdu.jpg" class="contact-image" alt="LNWDdu.jpg">
        </div>
        <div class="contact-text-div">
            <h2 class="handle">G-mail : <a href="mailto: dkdeveshkumar0@gmail.com">dkdeveshkumar0@gmail.com</a></h2>
            <h2 class="handle">LinkedIn : <a href="https://www.linkedin.com/in/deveshkumar30/">Devesh Kumar</a></h2>
        </div>
    </div>

<%- include('partials/footer') %>