<%- include('partials/header') %>

    <!-- Displays the specific post on a dedicated page -->
    <h1 class="main-heading"><%= post.title %></h1>
    <p class="padding-box-shadow post-content"><%= post.content %></p>

<%- include('partials/footer') %>